name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        osteel-version: ['0.11', '0.12']
    
    name: PHP 8.3 - osteel/openapi-httpfoundation-testing v${{ matrix.osteel-version }}
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: mbstring, xml, ctype, json
        coverage: xdebug
    
    - name: Validate composer.json and composer.lock
      run: composer validate --strict
    
    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-8.3-osteel-${{ matrix.osteel-version }}-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-8.3-osteel-${{ matrix.osteel-version }}-
    
    - name: Install dependencies with osteel v${{ matrix.osteel-version }}
      run: |
        composer require osteel/openapi-httpfoundation-testing:^${{ matrix.osteel-version }} --no-update
        composer install --prefer-dist --no-progress
    
    - name: Run test suite
      run: vendor/bin/phpunit --testdox
